
.remainingHomePageContainer {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 170px;
	height: auto;
	width: 100vw;
	overflow: hidden;
}

.gameIntroContainer{
    width: 60%;
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 40px;
}
.gameIntroParagraph{
    margin-bottom: 70px;
}
.gameInfoSection{
    margin-bottom: 70px;
}
.gameInfoList{
    margin-bottom: 10px;
}
@media (max-width: 678px){
    .gameIntroContainer{
        width: 80%;
    }
    .gameIntroParagraph{
        font-size: 18px;
    }
}